<style>
    .w3-panel-dashboard {
        padding: 0.01em 10px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    @media screen and (max-width: 1300px) {
        button.button-dataset {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 600px) {
        button.button-dataset {
            font-size: inherit;
        }
    }
</style>
<div class="w3-container">
    <div class="w3-row" style="height: 100%;">
        <div class="w3-quarter w3-panel-dashboard">
            <div class="w3-row w3-margin-bottom" style="height: 280px;" ng-show="$ctrl.latlng">
                <dashboard-map latlng="$ctrl.latlng"></dashboard-map>
            </div>
            <div class="w3-card-4 w3-row w3-margin-bottom" ng-show="data.length > 0">
                <div class="w3-container w3-light-grey">
                    <h3>Dataset</h3>
                </div>
                <div class="w3-container" style="height: 550px; overflow-x: hidden; overflow-y: scroll;">
                    <p ng-repeat="_data in data">
                        <button class="w3-button w3-block button-dataset" ng-class="_data.active? 'w3-disabled': ''"
                            ng-click="_data.active || $ctrl.getTimeSeries($index)">{{_data.long_name}}</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-threequarter w3-panel-dashboard">
            <div class="w3-row w3-margin-bottom" style="height: 225px;">
                <div class="w3-third" style="height: 100%;">
                    <dashboard-info info="info[0]" ng-show="info[0]"></dashboard-info>
                </div>
                <div class="w3-twothird w3-margin-bottom" style="height: 100%;">
                    <dashboard-graph data="graphs[0]" id="0" ng-show="graphs[0]"></dashboard-graph>
                </div>
            </div>
            <div class="w3-row w3-margin-bottom" style="height: 225px;">
                <div class="w3-third" style="height: 100%;">
                    <dashboard-info info="info[1]" ng-show="info[1]"></dashboard-info>
                </div>
                <div class="w3-twothird w3-margin-bottom" style="height: 100%;">
                    <dashboard-graph data="graphs[1]" id="1" ng-show="graphs[1]"></dashboard-graph>
                </div>
            </div>
            <div class="w3-row w3-margin-bottom" style="height: 225px;">
                <div class="w3-third" style="height: 100%;">
                    <dashboard-info info="info[2]" ng-show="info[2]"></dashboard-info>
                </div>
                <div class="w3-twothird w3-margin-bottom" style="height: 100%;">
                    <dashboard-graph data="graphs[2]" id="2" ng-show="graphs[2]"></dashboard-graph>
                </div>
            </div>
            <div class="w3-row w3-margin-bottom" style="height: 225px;">
                <div class="w3-third" style="height: 100%;">
                    <dashboard-info info="info[3]" ng-show="info[3]"></dashboard-info>
                </div>
                <div class="w3-twothird w3-margin-bottom" style="height: 100%;">
                    <dashboard-graph data="graphs[3]" id="3" ng-show="graphs[3]"></dashboard-graph>
                </div>
            </div>
        </div>
    </div>
</div>